* {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2.0;
}

.img {
    display: block;
    margin: 170px auto;
}