* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman';
  font-size: 40px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 157px;
  border: 2px solid black;
  align-items: center;
  justify-content: stretch;
}

.flex_child {
  border: 3px solid green;
  height: 120px;
  line-height: 120px;
  text-align: center;
}

.yellow {
  background-color: yellow;
  flex-basis: 50px;
  align-self: flex-end;
}

.red {
  background-color: red;
  flex-basis: 200px;
  height: 150px;
  line-height: 150px;
}

.blue {
  background-color: blue;
  flex-basis: 200px;
  align-self: flex-start;
}

.purple {
  background-color: purple;
  flex-basis: 50px;
}
