/******************************/
/*----------GROOTTE 2---------*/
/******************************/

@media screen and (min-width: 872px) and (max-width: 1133px) {
    .item {
        width: calc(100% / 3);
    }
}

/******************************/
/*----------GROOTTE 3---------*/
/******************************/

@media screen and (min-width: 455px) and (max-width: 872px) {
    .item {
        width: calc(100% / 2);
    }
}

/******************************/
/*----------GROOTTE 4---------*/
/******************************/

@media screen and (max-width: 455px) {
    .item {
        width: 100%;
    }
}